{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Dashboard</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/panel/logout/">Logout</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Portal Creator</span>
        <hr>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/panel/"><i class="material-icons">home</i> Dashboard</a>
            <a class="mdl-navigation__link" href=""><i class="material-icons">desktop_windows</i> Portais</a>
            <a class="mdl-navigation__link" href="/panel/server/"><i class="material-icons">cloud</i> Servidores</a>
            <a class="mdl-navigation__link" href=""><i class="material-icons">settings</i> SOs</a>
            <a class="mdl-navigation__link" href=""><i class="material-icons">content_paste</i> Receitas</a>
            <a class="mdl-navigation__link" href=""><i class="material-icons">schedule</i> Agendamentos</a>
            <a class="mdl-navigation__link" href=""><i class="material-icons">info</i> Logs</a>
            <a class="mdl-navigation__link" href=""><i class="material-icons">people</i> Usuários</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            {% block content %}
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Total Portais</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                        <div class="mdl-card__menu">

                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Total Servidores</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                        <div class="mdl-card__menu">
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Total Deployment</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                        <div class="mdl-card__menu">
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </main>
</div>

</body>
</html>